<section class="footer">
	    <div class="container">
	  		<div class="row">
	  			<div class="col-xs-12 col-md-6">
	  			<h3 data-vp-add-class="bounceInDown visible animated full-visible">Видеологист</h3>
		  				<address>
                                          <span>site@videologist.ru</span>
		  					<p>+7 (495) 347 06 65</p>
                                          <div class="mr"></div>
			  				<p>1-й Кожевнический пер., д.10, стр.2</p>
			  				<p>Вход в бизнес центр со стороны д.6</p>
		  				</address>
	  			</div>
	  			<div class="col-xs-12 col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.8717586732287!2d37.645357446134625!3d55.72598079174278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b21b9fed94d%3A0x6eb90ede07048b5!2zMS3QuSDQmtC-0LbQtdCy0L3QuNGH0LXRgdC60LjQuSDQv9C10YAuLCAxMCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDExNTExNA!5e0!3m2!1sru!2sua!4v1496231182167" width="100%" height="428" frameborder="0" style="border:0" allowfullscreen></iframe>
	  				
	  			</div>
	  		</div>
	  	</div>
	
</section>
<!-- <div id="hid">
<div class="container">
      <div class="row">
      	<div class="col-md-3 col-sm-12 text-center hide hidden-xs">
      		<strong>Хотите попробовать бесплатно?</strong>
      		<br class="hidden-lg">
      	</div>
      	<div class="col-md-3 col-sm-6 col-xs-6 hide">
      		<input class="form-control" type="text" placeholder="Ваше имя" id="yname" name="yname" value="">
      		<br class="hidden-lg hidden-xs">
      	</div>
      	<div class="col-md-2 col-sm-6 col-xs-6 hide">
      		<input class="form-control" type="text" placeholder="Номер телефона" id="tel" name="tel" value="">
      		<br class="hidden-lg hidden-xs">
      	</div>
      	<div class="col-md-3 col-sm-12 text-center hide">
      		<button type="submit" class="btn btn-default" id="send">Попробовать
бесплатно</button>
      	</div>
      	<div class="col-xs-12 success text-center">
      	<strong>
      		Ваш запрос успешно отправлен!
      	</strong>
      	</div>
      </div>
     </div>
    </div> -->

      <div id="top"></div>
      <div id="open"></div>

<script src="./js/main.js"></script>

</body>
</html>