<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Videologist</title>
    <link href="./css/main.css" rel="stylesheet">
  </head>
<body>
<section class="header">

<video autoplay="autoplay" loop="true" poster="img/screen.png" muted controls preload="auto" tabindex="0">
				<source src="./video/header.mp4" type="video/mp4" codecs="avc1.4D401E, mp4a.40.2">
        <source src="./video/header.mov" type="video/mov" codecs="avc1.4D401E, mp4a.40.2">
				<source src="./video/header.ogg" type="video/ogg" codecs="theora, vorbis">
				<source src="./video/header.webm" type="video/webm" codecs="vp8, vorbis">
			</video>

    <div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-md-12">
  			 <div class="header-content">
					<h1 data-vp-add-class="bounceInDown visible animated full-visible">Видеологист</h1>
					<hr class="h-bord">
					<p>Техническое Средство Снижения Рисков</p>
					<hr class="h-bord">
          </div>
			</div>
  		</div>
  	</div>
    
</section>